@keyframes light {
    0% {
        background-color: var(--primary-color);
    }

    to {
        background-color: #acacac;
    }
}

@keyframes rail-scroll {
    0% {
        transform: translate(0);
    }

    to {
        transform: translate(-50%);
    }
}
